body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#home .container #home-row #home-column #home-box {
  margin-top: 20px;
  max-width: 600px;
  height: 420px;
  width:900px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#home .container #home-row #home-column #home-box #home-form {
  padding: 20px;
}
#home .container #home-row #home-column #home-box #home-form #register-link {
  margin-top: -85px;
}
.text-right{
  text-align: right!important;
  margin-top: -45px !important;
  margin-right: 24px !important;
}
.text-info{
  color: black !important;
}

.home{
  text-align: center;
}

